* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.box {
    margin: 0 auto;
    max-width: 1000px;
}

.flex-box {
    display: flex;
}

a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.btn {
    border-radius: 25px;
    font-size: 20px;
    padding: 10px 15px;
}

header {
    background-color: #3160e0;
    padding-top: 15px;
    padding-bottom: 5px;  
}

.logo {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-list {
    list-style-type: none;
    color: white;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

.login {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.login button {
    padding: 1em;
    border-radius: 25px;
    font-size: 15px;
}

.first-box {
    display: flex;
    background-image: url("./img/jumbo.png");
    background-size: cover;
    background-position: center;
    padding: 6em;
    justify-content: center;
}

.title-box {
    width: 50%;
    color: white;
    text-align: center;
}

.title-box p {
    line-height: 30px;
    margin: 20px;
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-black {
    background-color: black;
    color: white;  
}

.text-column {
    width: 40%;
    padding: 40px;
    line-height: 25px;
}

.text-column h2 {
    margin-bottom: 20px;
}


.item {
    width: 60%;
    min-height: 200px;    
}

.item img {
    width: 100%;
}

#box-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.bgd-white {
    background-color: white;
    padding: 10px 0;  
}

.bgd-grey {
    background-color: #f6f6f6;
    padding: 10px 0;   
}

.bgd-grey h2, h3, p {
    line-height: 25px;
    margin-bottom: 1em;
}

#last-section {
    text-align: center;
    margin: 10%;
}

.special-bg {
    background-image: url(./img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 30px auto;
    padding: 10px;
}

.btn-violet {
    background-color: #8fa1e2;
    
}

.bgd-black {
    background-color: black;
    padding: 10px 0;
}

.left-column {
    background-color:#f08180 ;
    width: 50%;
    border: 2px white dashed;
    min-height: 250px;
}

.four-column {
    background-color: #20b3aa ;
    width: 50%;
}

.column {
    border: 2px white dashed;
    width: 25%;
}

.footer-column {
    display: flex;
    background-color: #20b3aa;
    width: 100%;
    min-height: 50px;
    justify-content: space-between;
    align-items: center;
}

 #footer-logo {
    width: 10%;
    border: 2px black dashed;
    background-color: #f08180;
}

#button {
    width: 10%;
    border: 2px black dashed;
    background-color: #f08180;
    
}